.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 23.3% 76.7%;
  overflow: hidden;
}

.scroll {
  display: grid;
  grid-template-columns: 57.3% 42.7%;

  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1115px) {
  .container {
    display: grid;
    grid-template-columns: 10% 60% 30%;
  }
}

@media (max-width: 1017px) {
  .container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
}

@media (max-width: 995px) {
  .container {
    display: grid;
    grid-template-columns: 15% 75% 10%;
  }
}

@media (max-width: 704px) {
  .container {
    display: grid;
    grid-template-columns: 68px 90% 0;
    background-color: black;
  }
}
